.DS_Store
.idea/
build/
checkpoints/
slowfast.egg-info/
wandb/
holo_existing_files.txt
logs/
plots/
egtea_visualizations/
*.pyc
*.pth
*.mp4
*.png
*.jpg
*.log
*.npz
*.pyth
./tools/__pycache__/
*.pyc
__pycache__/
./ckpts
./slowfast/__pycache__/
./slowfast/models/__pycache__/
./slowfast/configs/__pycache__/
./slowfast/datasets/__pycache__/
./slowfast/evaluation/__pycache__/
./slowfast/utils/__pycache__/
./slowfast/visualization/__pycache__/
